@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-style: italic;
  margin-left: 0.25em;
}
