@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
  }
  

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
}

button {
    margin: 5px;
    position: relative;
    left: 80%; 
}